In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2021-07-29 19:53:39,-54.8000,-68.3000,47.86,37,20,20.71
1,1,Leningradskiy,RU,2021-07-29 19:53:40,69.3833,178.4167,32.68,98,100,18.34
2,2,Totskoye,RU,2021-07-29 19:53:40,52.5248,52.7623,71.85,47,100,8.01
3,3,Kirakira,SB,2021-07-29 19:53:41,-10.4544,161.9205,78.17,84,8,5.50
4,4,Mataura,NZ,2021-07-29 19:53:41,-46.1927,168.8643,39.47,94,93,3.71

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []


for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                            # Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig           (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Kirakira,SB,2021-07-29 19:53:41,-10.4544,161.9205,78.17,84,8,5.50
6,6,Natal,BR,2021-07-29 19:49:49,-5.7950,-35.2094,83.05,74,40,17.27
8,8,Alta Floresta,BR,2021-07-29 19:53:43,-9.8756,-56.0861,84.02,32,0,6.91
11,11,Dicabisagan,PH,2021-07-29 19:53:45,17.0818,122.4157,81.46,77,99,3.13
12,12,Mayo,US,2021-07-29 19:49:56,38.8876,-76.5119,88.68,72,1,9.22
23,23,Praia,CV,2021-07-29 19:53:51,14.9215,-23.5087,81.14,61,40,16.11
24,24,Buin,CL,2021-07-29 19:53:51,-33.7333,-70.7500,75.52,19,0,3.60
26,26,Hilo,US,2021-07-29 19:53:52,19.7297,-155.0900,79.25,82,75,10.36
28,28,Lahaina,US,2021-07-29 19:53:54,20.8783,-156.6825,81.64,89,48,6.76
30,30,Tautira,PF,2021-07-29 19:53:55,-17.7333,-149.1500,78.82,78,66,5.37

In [12]:
preferred_cities_df.count()

City_ID       194
City          194
Country       194
Date          194
Lat           194
Lng           194
Max Temp      194
Humidity      194
Cloudiness    194
Wind Speed    194
dtype: int64

In [13]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Kirakira,SB,2021-07-29 19:53:41,-10.4544,161.9205,78.17,84,8,5.50
6,6,Natal,BR,2021-07-29 19:49:49,-5.7950,-35.2094,83.05,74,40,17.27
8,8,Alta Floresta,BR,2021-07-29 19:53:43,-9.8756,-56.0861,84.02,32,0,6.91
11,11,Dicabisagan,PH,2021-07-29 19:53:45,17.0818,122.4157,81.46,77,99,3.13
12,12,Mayo,US,2021-07-29 19:49:56,38.8876,-76.5119,88.68,72,1,9.22
...,...,...,...,...,...,...,...,...,...,...
561,561,Shelburne,CA,2021-07-29 19:58:16,44.0787,-80.2041,78.75,59,69,14.29
562,562,Banamba,ML,2021-07-29 19:58:16,13.5500,-7.4500,81.95,67,98,9.19
569,569,Turayf,SA,2021-07-29 19:55:35,31.6725,38.6637,88.05,37,0,11.50
570,570,Sibolga,ID,2021-07-29 19:58:20,1.7427,98.7792,76.35,84,100,2.93
572,572,Igualada,ES,2021-07-29 19:58:21,41.5810,1.6172,79.61,76,1,7.00

In [14]:
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Kirakira,SB,2021-07-29 19:53:41,-10.4544,161.9205,78.17,84,8,5.50
6,6,Natal,BR,2021-07-29 19:49:49,-5.7950,-35.2094,83.05,74,40,17.27
8,8,Alta Floresta,BR,2021-07-29 19:53:43,-9.8756,-56.0861,84.02,32,0,6.91
11,11,Dicabisagan,PH,2021-07-29 19:53:45,17.0818,122.4157,81.46,77,99,3.13
12,12,Mayo,US,2021-07-29 19:49:56,38.8876,-76.5119,88.68,72,1,9.22
...,...,...,...,...,...,...,...,...,...,...
561,561,Shelburne,CA,2021-07-29 19:58:16,44.0787,-80.2041,78.75,59,69,14.29
562,562,Banamba,ML,2021-07-29 19:58:16,13.5500,-7.4500,81.95,67,98,9.19
569,569,Turayf,SA,2021-07-29 19:55:35,31.6725,38.6637,88.05,37,0,11.50
570,570,Sibolga,ID,2021-07-29 19:58:20,1.7427,98.7792,76.35,84,100,2.93
572,572,Igualada,ES,2021-07-29 19:58:21,41.5810,1.6172,79.61,76,1,7.00

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
3        Kirakira      SB     78.17 -10.4544  161.9205
6           Natal      BR     83.05  -5.7950  -35.2094
8   Alta Floresta      BR     84.02  -9.8756  -56.0861
11    Dicabisagan      PH     81.46  17.0818  122.4157
12           Mayo      US     88.68  38.8876  -76.5119
23          Praia      CV     81.14  14.9215  -23.5087
24           Buin      CL     75.52 -33.7333  -70.7500
26           Hilo      US     79.25  19.7297 -155.0900
28        Lahaina      US     81.64  20.8783 -156.6825
30        Tautira      PF     78.82 -17.7333 -149.1500

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Kirakira,SB,78.17,-10.4544,161.9205,SanBiz Lodge
6,Natal,BR,83.05,-5.7950,-35.2094,Villa Park Hotel | Natal
8,Alta Floresta,BR,84.02,-9.8756,-56.0861,Floresta Amazonica Hotel
11,Dicabisagan,PH,81.46,17.0818,122.4157,Nancy Montanes Bernardo
12,Mayo,US,88.68,38.8876,-76.5119,Resorts Resource Group International
...,...,...,...,...,...,...
561,Shelburne,CA,78.75,44.0787,-80.2041,The Retreat at the Farm
562,Banamba,ML,81.95,13.5500,-7.4500,Kassela de Banamba
569,Turayf,SA,88.05,31.6725,38.6637,Turaif
570,Sibolga,ID,76.35,1.7427,98.7792,Hotel Syariah CN Darussalam
572,Igualada,ES,79.61,41.5810,1.6172,Hotel América

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))